*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.calc-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    height: 600px;
    width: 400px;
    background-color: indianred;
    border-radius: 5%;
}
.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;
    height: 100px;
    background-color: black;
}
.display p {
    font-size: 2.25rem;
    font-family: sans-serif;
    color: white;
}
.button-container {
    display: grid;
    padding: 0.5rem;
    grid-template-columns: repeat(4, 4rem);
    grid-template-columns: repeat(4, 4rem);
    gap: 1rem;
    height: 60%;
    background-color:rgb(181, 181, 181);
    border-radius: 3%;
}
button {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 10%;
    font-size: 1.5rem;
}
button:hover {
    opacity: 0.8;
}
button:active {
    opacity: 0.6;
}
