*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    border: 1px solid black;
    height: 200px;
    width: 600px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.quote {
    border: 1px solid black;
    display: flex;
    height: 50px;
    width: 500px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.quote-btn {
    font-size: 1.5rem;
    padding: 0.5rem;
}
